.top{
    text-align: center;
    text-align: justify CENTER ;
}
.whole{
background-color: lime;
}
.box{
 height: 20px;
 width: 200px;
 border-radius: 20px;
}
form input[type=text] , select ,input[type=date] {
    height: 20px;
    width: 200px;
    border-radius: 20px;  
    padding: 10px;
    
}
input[type=submit] {
    background-color:green;
    color: purple;
    width: 100px;
    height: 50px;
    align-items: center;
    
}